<web-app>
<welcome-file-list>
<welcome-file>home</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>home</servlet-name>
<jsp-file>/WEB-INF/pages/home.html</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>home</servlet-name>
<url-pattern>/home</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>marriage</servlet-name>
<servlet-class>com.nit.servlet.MarriageElligibilityCheckServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>marriage</servlet-name>
<url-pattern>/marriage</url-pattern>
</servlet-mapping>
</web-app>