<web-app>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>searchemp</servlet-name>
<servlet-class>com.nit.servlet.EmployeeSearchServlet</servlet-class>
<init-param>
<param-name>driverClass</param-name>
<param-value>oracle.jdbc.driver.OracleDriver</param-value>
</init-param>
<init-param>
<param-name>url</param-name>
<param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
</init-param>
<init-param>
<param-name>dbuser</param-name>
<param-value>System</param-value>
</init-param>
<init-param>
<param-name>dbpwd</param-name>
<param-value>Rohit123</param-value>
</init-param>
</servlet>

<servlet-mapping>
<servlet-name>searchemp</servlet-name>
<url-pattern>/searchurl</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>error</servlet-name>
<servlet-class>com.nit.servlet.ErrorServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>error</servlet-name>
<url-pattern>/errurl</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>head</servlet-name>
<servlet-class>com.nit.servlet.HeadServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>head</servlet-name>
<url-pattern>/headurl</url-pattern>
</servlet-mapping>
</web-app>