<web-app>
<display-name>UploadDownload-File-Upload-Download</display-name>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>upload</servlet-name>  
<servlet-class>com.nit.servlet.EmployeeRegistrationServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>upload</servlet-name>
<url-pattern>/uploadurl</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>report</servlet-name>  
<servlet-class>com.nit.servlet.EmployeeReportServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>report</servlet-name>
<url-pattern>/reporturl</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>download</servlet-name>  
<servlet-class>com.nit.servlet.FileDownloadingServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>download</servlet-name>
<url-pattern>/downloadurl</url-pattern>
</servlet-mapping>
</web-app>